@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Home Page";
    Html.RequiresJs(Links.Content.Scripts.react.react_js);
    Html.RequiresJs(Links.Content.Scripts.react.react_dom_js);
    Html.RequiresJs(Links.Content.Scripts.app.Demo1_js);

}

<h1>This is the first React test page.</h1>
<div id="test1"></div>
@section scripts
{
    @Html.RenderJsHere();
}
